<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mapper.TestMapper">
    <sql id="table">user</sql>
    <sql id="selectFields">id,content</sql>
    <insert id="addTestContent">
        insert into
        <include refid="table"/>
        (<include refid="selectFields"/>)
        values ({#id},{#content})
    </insert>

    <select id="queryTestContentById" resultType="java.lang.String">
        select content from
        <include refid="table"/>
        <if test="id !=null">
        where id = #id
        </if>
    </select>
</mapper>