<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mapper.DynamicMapper">
    <!--namespace根据自己需要创建的的mapper的路径和名称填写-->

    <resultMap id="zero_basisResult" type="org.example.dto.DynamicDTO">
        <!--id代表主键，result代表属性-->
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="img_array" property="imgArray" jdbcType="VARCHAR"/>
        <result column="comment_count" property="commentCount" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="created_date" property="createdDate" jdbcType="DATE"/>
        <result column="update_date" property="updateDate" jdbcType="DATE"/>
        <result column="delete_date" property="deleteDate" jdbcType="DATE"/>
        <result column="extend_content" property="extContent" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="table">dynamic</sql>
    <sql id="dynamicFields">id,user_id,title,content,type,img_array,comment_count,status,created_date,update_date,delete_date,extend_content</sql>

    <insert id="insertDynamic">
        insert into
        <include refid="table"/>
        (<include refid="dynamicFields"/>)
        values (#{id},#{userId},#{title},#{content},#{type},#{imgArray},#{commentCount},#{status},#{createdDate},#{updateDate},#{deleteDate},#{extContent})
    </insert>
    <update id="updateCommentCountById">
        update <include refid="table"></include>
        set comment_count=#{commentCount}
        where id = #{dynamicId}
    </update>

    <select id="queryDymamicCount" resultType="java.lang.Integer">
        select count(*) from <include refid="table"/> where status = 1
    </select>


    <resultMap id="page_result" type="org.example.dto.DynamicPageDTO">
        <!--id代表主键，result代表属性-->
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="username" property="name" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="img_array" property="imgArray" jdbcType="VARCHAR"/>
        <result column="comment_count" property="commentCount" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="created_date" property="createdDate" jdbcType="DATE"/>
        <result column="update_date" property="updateDate" jdbcType="DATE"/>
        <result column="delete_date" property="deleteDate" jdbcType="DATE"/>
        <result column="extend_content" property="extContent" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryDynamicPage" resultMap="page_result">
        select *,(select name from USER where user.user_id = dynamic.user_id) as username from DYNAMIC WHERE STATUS =1
        limit #{start},#{pageSize}
    </select>

    <select id="queryDynamicById" resultMap="zero_basisResult">
        select * from
        <include refid="table"/> where id = #{id} and status = 1
    </select>

    <!--    <select id="queryUserDTOByUserId" resultMap="zero_basisResult">-->
<!--        select * from-->
<!--        <include refid="table"/>-->
<!--        where user_id = #{userId}-->
<!--    </select>-->
</mapper>
