<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mapper.InformMapper">
    <!--namespace根据自己需要创建的的mapper的路径和名称填写-->
    <resultMap id="InformPageResult" type="org.example.dto.InformPageDTO">
        <!--id代表主键，result代表属性-->
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="send_user_id" property="sendUserId" jdbcType="VARCHAR"/>
        <result column="send_user_name" property="sendUserName" jdbcType="INTEGER"/>
        <result column="take_user_id" property="takeUserId" jdbcType="VARCHAR"/>
        <result column="take_user_name" property="takeUserName" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="DATE"/>
        <result column="entity_id" property="entityId" jdbcType="VARCHAR"/>
        <result column="entity_type" property="entityType" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="table">inform</sql>
    <sql id="informFeilds">id,send_user_id,take_user_id,content,entity_id,entity_type</sql>

    <insert id="addInform"></insert>
    <select id="queryInformCount" resultType="java.lang.Integer">
        select count(*) from <include refid="table"/>
    </select>
    <select id="queryCommentPage" resultMap="InformPageResult">
          select *,(select name from USER where user.id = inform.send_user_id) as send_user_name,(select name from USER where user.id = inform.take_user_id) as take_user_name from INFORM
    </select>
</mapper>