<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mapper.UserMapper">
    <!--namespace根据自己需要创建的的mapper的路径和名称填写-->
    <sql id="table">user</sql>
    <sql id="userFields">id,name,password,salt,head_url</sql>

    <insert id="addUserDTO">
        insert into
        <include refid="table"></include>
        (<include refid="userFields"></include>)
        values (#{id},#{name},#{password},#{salt},#{headUrl})
    </insert>
</mapper>
