<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mapper.VoteMapper">
    <!--namespace根据自己需要创建的的mapper的路径和名称填写-->
    <sql id="table">dynamic</sql>
    <update id="updateExt">
        update <include refid="table"></include>>
        set extend_content = #{extContent}
        where id = #{dynamicId}
    </update>
</mapper>